{% load static %}

<nav class="h-auto  z-40 bg-purple-800
w-full top-0 fixed shadow-sm flex-center px-6
justify-between">
    <div class="flex items-center justify-between w-full h-14">
        <a href="/">
            <img src="{% static 'logo.png' %}" alt="logo" loading="lazy" class="w-auto h-20 rounded">
        </a>
        <div class="flex items-center space-x-5 text-white text-sm w-full pl-6">
            <form id="sf" class="w-full flex items-center space-x-2 relative" onsubmit="handleSearch(event)">
                <input type="text" id="searchInput"
                    class="w-full text-black flex w-[60%] h-8 rounded-md px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
                    placeholder="Search flights, hotels, activities, packages" name="search"
                    value="{{ request.GET.search }}">
                <button type="submit" class="h-8 w-8 bg-white rounded-lg shadow-sm text-black">
                    <i class="fa fa-search w-4 h-4"></i>
                </button>
                <div id="search" class="hidden p-3 max-h-44 w-32 rounded-lg top-14 w-full bg-purple-800 left-0 space-y-2">
                    <div id="flights"></div>
                    <div id="hotels"></div>
                    <div id="activities"></div>
                </div>
            </form>
            <a href="/flights" class="hover:underline flex items-center">
                <i class="fa fa-plane w-4 h-4 mr-2  "></i>
                Flights
            </a>
            <a href="/hotels" class="hover:underline flex items-center">
                <i class="fa fa-bed w-4 h-4 mr-2"></i>
                Hotels
            </a>
            <a href="/activities" class="hover:underline flex items-center">
                <i class="fa fa-ticket w-4 h-4 mr-2"></i>
                Activities
            </a>
            <a href="/packages" class="hover:underline flex items-center">
                <i class="fa fa-sitemap w-4 h-4 mr-2"></i>
                Packages
            </a>

            {% if request.user.is_authenticated%}
            <a href="/my-bookings/" class="hover:underline flex items-center  text-nowrap">
                <i class="fa fa-check-square-o w-4 h-4 mr-2"></i>
                My Bookings
            </a>
            <div class="w-20 h-14 flex items-center justify-center relative">
                <button class="w-10 h-10 rounded-full overflow-hidden border border-white" onclick="handlePopover()">
                    {% if request.user.picture %}
                    <img src="{{request.user.picture.url}}" alt="prfile" class="w-full h-full" />
                    {% else %}
                    <img src="{% static 'null.png' %}" alt="prfile" class="w-full h-full" />
                    {% endif %}
                </button>

            </div>
            {% else%}

            <a href="/account/login" class="bg-white rounded-lg p-4 py-2 text-black text-nowrap">Login/ Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>
<div id='popover'
    class="hidden w-52 max-h-96 bg-purple-800 fixed top-16 right-5 rounded shadow-lg z-50 text-white text-sm overflow-y-auto">
    <ul class="border-b border-white">
        <li>
            <a href="/account/profile/" class="w-full block py-2 px-3 ">
                <i class="fa fa-user w-4 h-4 mr-2"></i>
                My Profile
            </a>
        </li>
        <li>
            <a href="/account/security/" class="w-full block py-2 px-3 ">
                <i class="fa fa-lock w-4 h-4 mr-2"></i>
                Change password
            </a>
        </li>
    </ul>
    <ul class="border-b border-white">
        <li>
            <a href="/my-bookings/" class="w-full block py-2 px-3 ">
                <i class="fa fa-check-square-o w-4 h-4 mr-2"></i>
                My Bookings
            </a>
        </li>
        {% if request.user.custom.id %}
        <li>
            <a href="/my-packages/{{request.user.custom.id}}/" class="w-full block py-2 px-3 ">
                <i class="fa fa-sitemap w-4 h-4 mr-2"></i>
                My Packages
            </a>
        </li>
        {% endif %}
    </ul>
    {% if request.user.is_agent %}
    <ul class="border-b border-white">
        <li>
            <a href="/manage/agency/" class="w-full block py-2 px-3 ">
                <i class="fa fa-first-order w-4 h-4 mr-2"></i>
                Manage Agency
            </a>
        </li>
        <li>
            <a href="/manage/flights/" class="w-full block py-2 px-3 ">
                <i class="fa fa-plane w-4 h-4 mr-2"></i>
                Manage Flights
            </a>
        </li>
        <li>
            <a href="/manage/hotels/" class="w-full block py-2 px-3 ">
                <i class="fa fa-bed w-4 h-4 mr-2"></i>
                Manage Hotels
            </a>
        </li>
        <a href="/manage/activities/" class="w-full block py-2 px-3 ">
            <i class="fa fa-ticket w-4 h-4 mr-2"></i>
            Manage Activities
        </a>
        </li>
        </li>
        <a href="/manage/packages/" class="w-full block py-2 px-3 ">
            <i class="fa fa-money w-4 h-4 mr-2"></i>
            Manage Packages
        </a>
        </li>
        <li>
            <a href="/manage/bookings" class="w-full block py-2 px-3 ">
                <i class="fa fa-check-square-o w-4 h-4 mr-2"></i>
                Manage Bookings
            </a>
        </li>

    </ul>
    {% endif %}
    <form action="/account/logout">
        <button class="w-full py-2 px-3 text-red-800 bg-white">
            <i class="fa fa-sign-out h-4 w-4 mr-2"></i>
            Logout
        </button>
    </form>
</div>
<script src="{% static 'js/action.js' %}"></script>