{% extends "base.html" %}
{% load static %}
{% block title %}Email Sent{% endblock %}

{% block body %}
<div class="cover">
    <a href="/" class="h-14">
        <img src="{% static 'logo.png' %}" alt="logo" loading="lazy" class="w-auto h-20 rounded">
    </a>
    <div class="w-full h-full flex items-center justify-center flex-col">
        <h1 class="font-bold text-2xl mb-2">Check your inbox.</h1>
        <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div>
</div>
{% endblock %}